* {
  box-sizing: border-box;
}

body {
  padding: 0px;
  margin: 0px;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 18px;
  color: #000000;
  background-color: #ffffff;
}

p, li {
  font-size: 18px;
}

/*header*/
header > div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 20px auto;
  max-width: 960px;
}

h1 {
  margin: 0 0 0 20px;
  font-size: 34px;
  border: 1px solid black;
  padding: 0px 20px;
}

header ul {
  display: flex;
  padding-left: 0;
  margin-right: 30px;
}

header li {
  text-decoration: none;
  margin: 0 20px;
  list-style: none;
}

header a {
  color: black;
  font-weight: bold;
  text-decoration: none;
  font-size: 34px;
}




/*index-h2*/
.index-h2 {
  margin: 0;
  padding: 60px 0 40px;
  text-align: center;
  font-size: 34px;
}





/*mv*/
#mv > img {
  margin: 0 auto;
  width: 100%;
}



/* About */
#about-flex {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 20px auto;
  max-width: 960px;
}

#about p {
  font-size: 24px;
  font-weight: bold;
}

#about img {
  border-radius: 180px;
  width: 300px;
  height: 300px;
}

#about-content {
  margin: 0 auto;
  padding: 0 20px;
}





/* Works */
#works-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 960px;
}


.works-content {
  margin: 0 10px;
  padding-bottom: 60px;
  width: 25%;
}

.works-content > img {
  width: 100%;
}




/*footer*/
footer p {
  text-align: center;
  padding-bottom: 20px;
}





/*mediaquery*/
@media (max-width: 767px) {
  h1 {
    font-size: 28px;
  }
  
  .index-h2 {
    padding: 30px 0 20px;
    font-size: 28px;
  }

  header li {
    margin: 0 10px;
  }

  header a {
    font-size: 21px;
  }

  #about img {
    margin: 0 auto;
  }

  .works-content {
    width: 100%;
    text-align: center;
    padding-bottom: 40px;
  }
}